.nav-wrapper {
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
}

.custom-nav-brand {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: var(--dark);
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

a.custom-nav-brand img {
    height: 40px;
    border-radius: 5px;
}

.nav-link-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link-item {
    text-decoration: none;
    color: color-mix(in srgb, white 20%, black);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    -webkit-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    -moz-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    -o-transition: background-color .5s ease-in-out, color .3s ease-in-out;
    transition: background-color .5s ease-in-out, color .3s ease-in-out;
}

.nav-link-item:hover {
    background-color: var(--bg-primary);
    color: white;
}

.nav-link-item.active {
    background-color: var(--bg-primary);
    color: white;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.nav-menu-item i {
    font-size: 16px;
    color: color-mix(in srgb, white 20%, black);
}

.nav-menu-item i:hover {
    color: black;
}

.content-wrapper {
    padding: 1.5rem 2.5rem;
}

.slick-banner {
    width: 100% !important;
    height: 350px;
    border-radius: 12px;
}

.banner-container {
    border-radius: 12px !important;
}
.banner-container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center center;
    border-radius: 12px;
}

.slick-prev {
    left: 10px !important;
    z-index: 1 !important;
}

.slick-next {
    right: 10px !important;
    z-index: 1 !important;
}

.slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: var(--bg-primary) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.banner-container.slick-slide {
    height: 350px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 12px !important;
}

.content-section {
    padding: 0 1rem;
}

.section-title {
    width: 100%;
    font-size: 1.25em;
    color: var(--dark);
    font-weight: 600;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.card-product {
    width: 220px;
    height: 300px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 5px;
    gap: 0.5rem;
    cursor: pointer;
}

.card-product .image-container {
    width: 100%;
    height: 150px;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: auto;
    height: 150px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
}

.card-product .product-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    /*background-color: blue;*/
}

.product-info .product-name {
    font-size: 0.9em;
    color: var(--bg-primary);
    font-weight: 600;
    margin-bottom: 0;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    display: -webkit-box;
}

.product-info .product-specification {
    font-size: 0.7em;
    color: var(--dark-tint);
    margin-bottom: 0;
}

.product-info .product-price {
    font-size: 1.25em;
    color: var(--bg-primary);
    width: 100%;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
}
